.body {
  margin-left: 60px;
  margin-right: 60px;
  box-shadow: 5px 5px 5px 5px #888888;
}

.bodywrapper {
  /* padding-left: 20%;
  padding-right: 20%; */
}

.nav-bg {
  background-color: #babb42;
  color: white;
}

.nav-text {
  color: white;
}

.navbar-brand {
  max-height: 75px !important;
}

img {
  height: auto;
  border: 0;
}
.navbar {
  border-bottom: 2px solid black;
}
.navbar a {
  font-size: 20px;
}

.topbar {
  background-color: #1e2040;
  height: 40px;
}

.topbar-ul {
  list-style-type: none;
  display: flex;
  flex-grow: 100;
  justify-content: flex-end;
  align-items: center;
}

.topbar-ul li {
  padding: 10px;
  padding-right: 20px;
}

.bg-yellow {
  background-color: #babb42;
}

.homesection h1 {
  color: #9d1e20;
  font-size: 67px;
}
.homesection h2 {
  color: white;
  margin-top: 5%;
  padding-bottom: 50px;
}

.homewrapper {
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 5%;
  padding-bottom: 5%;
}

.services {
  width: 80%;
  background-color: #133853;
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: -40px;
}

.services h1 {
  color: white;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
}

.card-deck {
  justify-content: space-between;
  width: 90%;
  margin: auto;
  padding-bottom: 3%;
}

.cl {
  background-color: #f69679;
}
.cm {
  background-color: #9ead4c;
}
.cr {
  background-color: #a186be;
}

.card-title {
  color: white;
  font-size: 20px;
}

.footer {
  background-color: #f7f7f7;
  padding-top: 3%;
  margin-top: 3%;
}

.footer h5 {
  color: #9d1e20;
}
.footer a {
  text-decoration: none;
  color: black;
}

.footer-copyright {
  width: 80%;
  border-top: 2px solid #9d1e20;
  margin: auto;
}
